.cart-product {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.cart-product p {
    margin: 0;
}

.cart-product img {
    width: 90px;
    height: 90px;
}